@{
    ViewData["Title"] = "Credits";
}

<div class="p-2">

    <div class="text-lg pb-3">I would like to acknowlede and give the proper credits to the following projects included in this repository.</div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    ASP.NET Core
                </div>
                <div class="card-body">
                    <p class="card-text">ASP.NET Core is an open-source and cross-platform framework for building modern cloud based internet connected applications.You can develop and run your ASP.NET Core apps cross-platform on Windows, Mac and Linux.</p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/dotnet/aspnetcore" class="btn btn-success">Go to repository</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    Entity Framework Core
                </div>
                <div class="card-body">
                    <p class="card-text">EF Core is a modern object-database mapper for .NET. It supports LINQ queries, change tracking, updates, and schema migrations. EF Core works with SQL Server, Azure SQL Database, SQLite, Azure Cosmos DB, MySQL, PostgreSQL, and other databases through a provider plugin API.</p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/dotnet/efcore" class="btn btn-success">Go to repository</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    AutoMapper
                </div>
                <div class="card-body">
                    <p class="card-text">AutoMapper is a simple little library built to solve a deceptively complex problem - getting rid of code that mapped one object to another. This type of code is rather dreary and boring to write, so why not invent a tool to do it for us?</p>
                </div>
                <div class="card-footer">
                    <a href="https://automapper.org" class="btn btn-success">Go to project webpage</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    AdminLTE Bootstrap Admin Dashboard Template
                </div>
                <div class="card-body">
                    <p class="card-text">Best open source admin dashboard & control panel theme. Built on top of Bootstrap, AdminLTE provides a range of responsive, reusable, and commonly used components.</p>
                </div>
                <div class="card-footer">
                    <a href="https://adminlte.io" class="btn btn-success">Go to project webpage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    Syncfusion Essential Studio Enterprise Edition - Community license
                </div>
                <div class="card-body">
                    <p class="card-text">Essential Studio is a software package that provides state-of-the-art solutions for startups and enterprises. It includes more than 1,600 components and frameworks for WinForms, WPF, ASP.NET (Web Forms, MVC, Core), UWP, WinUI (Preview), Xamarin, Flutter, Blazor, JavaScript, Angular, Vue, and React that make developers’ work easier.</p>
                </div>
                <div class="card-footer">
                    <a href="https://www.syncfusion.com" class="btn btn-success">Go to project webpage</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    Manypixels royalty-free illustrations
                </div>
                <div class="card-body">
                    <p class="card-text">Each week, discover royalty-free illustrations to power up your projects. Use them in a commercial or non-commercial way for your landing pages, blog posts, email newsletters, social media graphics and more!</p>
                </div>
                <div class="card-footer">
                    <a href="https://automapper.org" class="btn btn-success">Go to project webpage</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    Pomelo.EntityFrameworkCore.MySql
                </div>
                <div class="card-body">
                    <p class="card-text">Pomelo.EntityFrameworkCore.MySql is the most popular Entity Framework Core provider for MySQL compatible databases. It supports EF Core 3.1 (and lower) and uses MySqlConnector for high-performance database server communication.</p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql" class="btn btn-success">Go to repository</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    shortid
                </div>
                <div class="card-body">
                    <p class="card-text">A CSharp library to generate completely random short id's. They can be used as primary keys or unique identifiers. This library is different in that you can specify the length of the ids to be generated. This library is thread-safe and can generate millions of unique ids across multiple threads.</p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/bolorundurowb/shortid" class="btn btn-success">Go to repository</a>
                </div>
            </div>
        </div>
        @*<div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header text-bold">
                    Manypixels royalty-free illustrations
                </div>
                <div class="card-body">
                    <p class="card-text">Each week, discover royalty-free illustrations to power up your projects. Use them in a commercial or non-commercial way for your landing pages, blog posts, email newsletters, social media graphics and more!</p>
                </div>
                <div class="card-footer">
                    <a href="https://automapper.org" class="btn btn-success">Go to project webpage</a>
                </div>
            </div>
        </div>*@
    </div>
</div>