@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to <strong>AppSkeleton</strong></h3>
    <h5>Sky Rocket your new app !!!</h5>
    <br />
    <img src="~/img/logo.png" width="250" />
    <br />
    <br />
    <p>
        A solid skeleton for building out real features with asp.net core, adminlte, repository pattern,<br />
        entity-framework migrations and syncfusion components.
    </p>
    <br />
    <a href="https://programaticasoftware.visualstudio.com/Programatica.AspNetCore31AppSkeleton/_build/latest?definitionId=20&branchName=main"><img src="https://camo.githubusercontent.com/71db94999bcf803d8c029b8750f02b9d62b2b8f1/68747470733a2f2f70726f6772616d6174696361736f6674776172652e76697375616c73747564696f2e636f6d2f50726f6772616d61746963612e4173704e6574436f72653331417070536b656c65746f6e2f5f617069732f6275696c642f7374617475732f727569616c65787269622e50726f6772616d61746963612e4173704e6574436f72653331417070536b656c65746f6e3f6272616e63684e616d653d6d61696e" /></a>
    <a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton/blob/main/LICENSE"><img src="https://camo.githubusercontent.com/3ccf4c50a1576b0dd30b286717451fa56b783512/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d4d49542d79656c6c6f772e737667" /></a>
    <br />
    <br />
    <p>Learn more at <a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton">github project repository</a>.</p>
    <br />
    <a href="https://www.buymeacoffee.com/ruialexrib" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 50px !important;"></a>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            global.toastinfo("Database ConnectionString:<br>" + _page.connectionString);
        });

     </script>
}
