@{
    ViewData["Title"] = "License";
}

<div class="p-2">


    <div class="text-lg pb-3">This software is licensed under the <strong>MIT License</strong></div>

    <div class="row">
        <div class="col-sm-12 ">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-balance-scale fa-4x"></i>
                    <br /><br />
                    Copyright (c) 2020 Rui Ribeiro<br />
                    <br />
                    Permission is hereby granted, free of charge, to any person obtaining a copy<br />
                    of this software and associated documentation files (the "Software"), to deal<br />
                    in the Software without restriction, including without limitation the rights<br />
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br />
                    copies of the Software, and to permit persons to whom the Software is<br />
                    furnished to do so, subject to the following conditions:<br />
                    <br />
                    The above copyright notice and this permission notice shall be included in all<br />
                    copies or substantial portions of the Software.<br />
                    <br />
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br />
                    SOFTWARE.<br />
                </div>
                <div class="card-footer">
                    This is not legal advice. 
                    <a href="https://docs.github.com/articles/licensing-a-repository/#disclaimer" class="btn btn-success">Learn more about repository licenses</a>                  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-1">

            <p>A short and simple permissive license with conditions only requiring preservation of copyright and license notices. Licensed works, modifications, and larger works may be distributed under different terms and without source code.</p>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-header text-bold">
                            Permissions
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check text-success"></i> Commercial use</li>
                            <li class="list-group-item"><i class="fa fa-check text-success"></i> Modification</li>
                            <li class="list-group-item"><i class="fa fa-check text-success"></i> Distribution</li>
                            <li class="list-group-item"><i class="fa fa-check text-success"></i> Private use</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-header text-bold">
                            Limitations
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-times text-red"></i> Liability</li>
                            <li class="list-group-item"><i class="fa fa-times text-red"></i> Warranty</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-header text-bold">
                            Conditions
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-info-circle text-info"></i> License and copyright notice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


