  <!-- Main Footer -->
<footer class="main-footer fixed-bottom">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <img src="~/img/Octocat.png" height="20"/>
        <a href="https://github.com/ruialexrib/Programatica.AspNetCore31AppSkeleton">Github repository</a>
    </div>
    <!-- Default to the left -->
    Copyright &copy; 2020 <a href="https://github.com/ruialexrib">ruialexrib</a>. All rights reserved.
</footer>