/* custom styles */

@font-face {
    font-family: "Amazon Ember";
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot");
    src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff") format("woff"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember") format("svg");
}

html {
    font-size: 13px;
}

body {
    font-family: 'Amazon Ember', Roboto, 'Open Sans', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
}

#main {
    overflow: auto;
    padding-bottom: 60px; /* this needs to be bigger than footer height*/
}

.navbar-menu {
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    background-color: rgb(253,253,253) !important;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


/* bootstrap overrides */

.content-header {
    padding: 10px 0.75rem;
}

.content-wrapper {
    background-color: rgb(244, 246, 249);
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.modal-header {
    cursor: move;
    background: rgb(253,253,253);
}


.modal-footer {
    background: rgb(255,255,255);
}

.form-control {
    border: 1px solid rgb(240, 240, 240);
}

    .form-control:disabled, .form-control[readonly] {
        background-color: rgb(250, 250, 250);
        opacity: 1;
    }

    .form-control:focus {
        /*    background-color: rgb(250, 250, 250);*/
        border: 1px solid rgb(0, 123, 255);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

.brand-link {
    font-size: 1.25rem;
}


/* material overrides */

.e-control,
.e-css {
    font-size: 1rem;
    font-family: inherit;
}

    .e-btn,
    .e-css.e-btn {
        font-family: 'Amazon Ember', Roboto, 'Open Sans', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        text-transform: none;
    }

.e-grid {
    font-size: 1rem;
    font-family: inherit;
}

    .e-grid .e-rowcell {
        cursor: pointer;
        font-size: 0.95rem;
    }

    .e-grid .e-groupdroparea {
        font-size: 1rem;
        background-color: #fff;
        font-family: 'Amazon Ember', Roboto, 'Open Sans', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .e-grid .e-rowcell,
    .e-grid .e-groupcaption,
    .e-grid .e-indentcell,
    .e-grid .e-recordplusexpand,
    .e-grid .e-recordpluscollapse,
    .e-grid .e-detailrowcollapse,
    .e-grid .e-detailrowexpand,
    .e-grid .e-detailindentcell,
    .e-grid .e-detailcell {
        border-color: rgb(240,240,240);
    }

    .e-grid .e-gridheader {
        background-color: rgb(253,253,253);
        color: rgb(0, 0, 0);
    }

    .e-grid .e-headercell,
    .e-grid .e-detailheadercell {
        border-color: rgb(240,240,240);
        background-color: rgb(253,253,253);
    }

    .e-grid .e-headercelldiv {
        font-size: 1rem;
        font-weight: 400;
    }

.e-checkbox-wrapper .e-label,
.e-css.e-checkbox-wrapper .e-label {
    font-size: 1rem;
    font-family: 'Amazon Ember', Roboto, 'Open Sans', "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
